<form [formGroup]="restorePassword" class="form-mar">

  <div class="form-group row input-div">
      <label class="col-sm-4 col-form-label text-message lead">We will send a link on your email so you can restore your password. Please, enter your login.</label>
  </div>
  <br>


  <div class="form-group row input-div">
    <input
      type="text"
      formControlName="login"
      placeholder="Login"
      class="input-group col-sm-3 form-control"
    >
  </div>

  <div *ngIf="restorePassword.get('login').invalid && (restorePassword.get('login').dirty || restorePassword.get('login').touched)" class="form-text text-muted col-sm-4 error-form">
    <div *ngIf="restorePassword.get('login').errors.required" class="error-form-message">Login is required!</div>
    <div *ngIf="restorePassword.get('login').errors.minlength" class="error-form-message">Login must be longer than 5!</div>
    <div *ngIf="restorePassword.get('login').errors.maxlength" class="error-form-message">Login must be shorter than 15!</div>
  </div>
  <br>


  <div class="button-container mar-au button">
    <button (click)="sendEmail()" [disabled]="!restorePassword.valid" type="button" class="btn btn-success col-sm-4">Send</button><br>
  </div>

</form>
