<form [formGroup]="changePassword" class="form-mar">

  <div class="form-group row input-div">
    <label class="col-sm-3 col-form-label text-message lead">Please, enter your new password.</label>
  </div>
  <br>


  <div class="form-group row input-div">
    <input
      type="password"
      formControlName="password"
      placeholder="Password"
      class="input-group col-sm-3 form-control"
    >
  </div>

  <div *ngIf="changePassword.get('password').invalid && (changePassword.get('password').dirty || changePassword.get('password').touched)" class="form-text text-muted col-sm-4 error-form">
    <div *ngIf="changePassword.get('password').errors.required" class="error-form-message">Password is required!</div>
    <div *ngIf="changePassword.get('password').errors.minlength" class="error-form-message">Password must be longer than 5!</div>
    <div *ngIf="changePassword.get('password').errors.maxlength" class="error-form-message">Password must be shorter than 15!</div>
  </div>
  <br>


  <div class="form-group row input-div">
    <input
      type="password"
      formControlName="confirmPassword"
      placeholder="Password confirmarion"
      class="input-group col-sm-3 form-control"
    >
  </div>

  <div *ngIf="changePassword.get('confirmPassword').invalid && (changePassword.get('confirmPassword').dirty || changePassword.get('confirmPassword').touched)" class="form-text text-muted col-sm-4 error-form">
    <div *ngIf="changePassword.get('confirmPassword').errors.required" class="error-form-message">Password is required!</div>
    <div *ngIf="changePassword.get('confirmPassword').errors.minlength" class="error-form-message">Password must be longer than 5!</div>
    <div *ngIf="changePassword.get('confirmPassword').errors.maxlength" class="error-form-message">Password must be shorter than 15!</div>
    <div *ngIf="changePassword.get('confirmPassword').errors.notSame" class="error-form-message">Are not same!</div>
  </div>
  <br>

  <!--<div> {{changePassword.get('confirmPassword').errors | json}} </div>-->

  <div class="button-container mar-au button">
    <button (click)="changePass()" [disabled]="!changePassword.valid" type="button" class="btn btn-success col-sm-4">Change</button><br>
  </div>

</form>
